*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-image: url(https://www.ctvnews.ca/content/dam/ctvnews/en/images/2020/8/13/party-1-5063738-1627388863273.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;

}

.container{
    background-color:  oklch(82.05% 0.084 278.47 / 93.36%);
    width: 800px;

    border-radius: 5px;
    margin: auto auto 50px auto;

    padding: 50px;
    
    
}

.container .formulario{
/*    display: flex; */
/*    flex-direction: column; */
    padding: 0px 30px;
    justify-content: flex-end;
    flex-wrap: nowrap;
    position: unset;
}

.container .formulario div{
    margin: 20px;
}
.container .formulario input{
    background-color: oklch(82.05% 0.084 278.47 / 93.36%);
    height: 35px;
    border-radius: 5px;
    border: solid 1px;
    margin: 2px
}
.container .formulario select{
    background-color: oklch(82.05% 0.084 278.47 / 93.36%);

    height: 35px;
    border-radius: 5px;
    border: solid 1px;

}
.container .formulario input:hover{
    background-color: white;
}
.container .formulario select:hover{
    background-color: white;
}
